.high-scores {
  background: #df5eff9b;
  height: 100vh;
  width: 100vw;
  text-align: center;
  transition: 0.5s ease-in-out;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  z-index: -1;
}

.table-scroll {
  display: flex;
  justify-content: space-evenly;
  justify-self: right;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: #fff;
  border: violet;
  border-style: solid;
  border-radius: 1.5rem;
  position: absolute;
  top: 50.5%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  height: 645px;
  width: 902px;
  overflow: scroll;
}

.table-scroll table {
  position: relative;
  border-collapse: collapse;
  height: 20px;
}
.thead-col {
  position: absolute;
  z-index: 998;
}

.table-scroll tbody {
  margin-top: 1rem;
}

.table-scroll th,
td {
  height: 3rem;
  box-sizing: border-box;
}

.table-scroll td,
th {
  padding: 1rem;
}
.table-scroll th {
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}
.thead-row {
  background-color: #431192;
}

.table-scroll tr:hover,
.table-scroll:focus {
  color: #fff;
  background-color: rgba(223, 94, 255, 0.609);
}
