.quiz-container {
	display: flex;
	background-image: url("../../images/quiz-time-main.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
	color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-size: 1.5rem;
	overflow: hidden;
}

.question-answers {
	height: 100%;
	width: 100%;
	display: flex;
	position: relative;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.questions {
	display: flex;
}

.answers {
	display: flex;
	width: 100vw;
	height: 100vh;
}

@media screen and (max-width: 1740px) {
	/* .quiz-container {
		background-image: url("../../images/quiz-time-ipadpro.jpeg");
	} */
	.question {
		height: 25vh;
		width: 67vw;
		top: 30%;
		left: 18.2%;
		font-size: 2rem;
	}
}

@media screen and (max-width: 890px) {
	/* .quiz-container {
		background-image: url("../../images/quiz-time-iphonex.jpeg");
	} */
}
