.question {
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 25vh;
	width: 50vw;
	position: absolute;
	top: 23.5%;
	left: 25%;
	font-size: 3rem;
	overflow: scroll;
	transition: 0.5ms ease-in-out;
}
/* ipad pro */
@media screen and (max-width: 1740px) {
	.question {
		height: 36vh;
		width: 58vw;
		top: 15.5%;
		left: 24.2%;
		font-size: 2rem;
	}
}

@media screen and (max-width: 1400px) {
	.question {
		height: 24vh;
		width: 60vw;
		top: 31%;
		left: 22%;
		font-size: 2rem;
	}
}

@media screen and (min-width: 2400px) {
	.question {
		position: absolute;
		left: 23.2%;
		height: 22vh;
		width: 57.5vw;
		font-size: 3rem;
	}
}
