.add-flashcard-container {
  background: #ffb7309b;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 5rem;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form,
.remove {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.349);
  height: 400px;
  width: 300px;
  background: #fff;
  transition: 150ms;
  transform: translateY(var(--translate-y, 0));
  transform-style: preserve-3d;
}

.form button,
select {
  cursor: pointer;
}

::-webkit-input-placeholder {
  text-align: center;
}

.form h4 {
  padding: 0.5rem;
}

/* .form input,
textarea {
  display: flex;
  /* align-self: center; */
/* }  */

.flip {
  transform: rotateY(180deg);
}

.form label {
  display: flex;
  line-height: 2rem;
  padding: 0.5rem;
}

.form .front,
.form .back,
.remove .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  /* display: flex; */
}

.form .front {
  position: absolute;
  top: -20px;
  left: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .back {
  transform: rotateY(-180deg);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 12%;
}

.form .back h4 {
  padding: 2rem;
}

.form .back textarea,
.form button,
.form input {
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  border-radius: 0.25rem;
}

.remove .front,
.remove .back {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.remove,
.remove.flip {
  cursor: pointer;
}
.remove .back {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
}

.remove .correct-answer {
  padding-top: 2rem;
}

.remove h2,
.remove h4,
.remove span {
  padding-bottom: 0.5rem;
}

.remove h4 {
  text-decoration: underline;
}

.remove span {
  color: rgb(133, 133, 133);
}

.remove-container .remove-btn {
  margin: 0.5em;
  display: flex;
  border-radius: 0.25rem;
  background-color: rgb(25, 182, 25);
  cursor: pointer;
}

.remove-container .remove-btn {
  background-color: red;
  display: flex;
  justify-items: center;
  align-self: flex-end;
  backface-visibility: hidden;
  cursor: grab;
}
