.result {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  padding-left: 2.5rem;
  -webkit-box-shadow: 5px 5px 29px 7px #fff;
  box-shadow: 5px 5px 29px 7px #fff;
  border-radius: 1rem;
}

.result a {
  color: #fff;
  text-decoration: none;
  display: flex;
  position: relative;
  top: 30%;
  right: 10%;
  font-size: 1.5rem;
}

.result a:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}
