.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 47%;
  font-size: 1.5rem;
}

.result {
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem;
  height: 25vh;
  width: 65vw;
  position: absolute;
  top: -16%;
  left: 52%;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.result-container a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  height: 7vh;
  width: 42.5vw;
  top: 59%;
  right: 5%;
  cursor: pointer;
}

.result-container a:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.name {
  background: linear-gradient(90deg, rgb(104, 40, 40) 0%, rgb(26, 23, 23) 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  height: 8vh;
  width: 50vw;
  border-radius: 0.5rem;
  position: absolute;
  top: 0%;
  margin-top: 1em;
  font-size: 2rem;
}

.name input {
  background: transparent;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  height: 60%;
  width: 50%;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.name input:focus,
.name input:hover,
.name button {
  background-color: rgba(255, 128, 128, 0.822);
  border-style: solid;
  box-shadow: 5px 5px 29px 7px #fff;
  top: 4px;
  opacity: 1;
  font-size: 2rem;
}

.name button {
  width: 10%;
  height: 75%;
  border-radius: 1.5rem;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  cursor: pointer;
}
