.flashcards-container,
.edit-container,
.remove-container {
  background: #183c6b9b;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: space-evenly;
  padding: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: -1;
}

.edit-container {
  background: #93ee7a9b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.remove-container {
  background: #ff00009b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

::-webkit-input-placeholder {
  text-align: center;
  color: red;
}

.flashcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  perspective: 1000px;
}

.flashcard {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.5);
  background-color: #fff;
  width: 200px;
  transition: 150ms;
  transform-style: preserve-3d;
  cursor: pointer;
  margin-top: 2.5rem;
  transform: translateY(var(--translate-y, 0));
}

.flashcard:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(255, 110, 248, 0.8);
}

.checkbox-container,
.remove-card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  backface-visibility: hidden;
}

.remove-card {
  border: rgba(255, 30, 0, 0.602);
  border-style: solid;
  border-radius: 0.25rem;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  left: 50%;
  cursor: grab;
}

.checkbox {
  border: rgb(112, 199, 62);
  border-style: solid;
  border-radius: 0.25rem;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  left: 50%;
  cursor: grab;
}

.flashcards-container h1 {
  color: #fff;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
    0 0 20px rgba(148, 29, 142, 0.8), 0 0 30px rgba(148, 29, 142, 0.8),
    0 0 40px rgba(148, 29, 142, 0.8), 0 0 55px rgba(148, 29, 142, 0.8),
    0 0 75px rgba(148, 29, 142, 0.8);
}

.checkbox:hover {
  background-color: rgb(45, 143, 0);
}

.remove-card:hover {
  background: rgb(136, 0, 0);
}

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  text-align: start;
}

.back {
  transform: rotateY(-180deg);
  display: flex;
  align-self: center;
}

.answers {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 0.5rem;
  left: 0;
}

.answers.quiz {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1rem;
}

.answer {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.85rem;
}

.flashcard-btn {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  color: #fff;
  font-size: 1rem;
  line-height: 20px;
}

.flashcard-btn.add,
.flashcard-btn.edit,
.flashcard-btn.remove {
  text-decoration: none !important;
  padding: 20px;
  border-radius: 15px;
  height: auto;
  width: auto;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  border: 2px solid rgb(28, 110, 164);
  cursor: pointer;
  transform: translateY(var(--translate-y, 0));
}

.flashcard-btn.add {
  background-image: linear-gradient(
    to right,
    rgb(164, 105, 28) 0%,
    rgb(203, 130, 35) 50%,
    rgb(117, 80, 20) 100%
  );
  border: 2px solid rgb(164, 101, 28);
}

.flashcard-btn.edit {
  background-image: linear-gradient(
    to right,
    rgb(89, 164, 28) 0%,
    rgb(88, 203, 35) 50%,
    rgb(20, 117, 33) 100%
  );
  border: 2px solid rgb(48, 164, 28);
}

.flashcard-btn.remove {
  background-image: linear-gradient(
    to right,
    rgb(164, 28, 28) 0%,
    rgb(203, 35, 35) 50%,
    rgb(117, 20, 20) 100%
  );
  border: 2px solid rgb(164, 28, 28);
}

.flashcard-btn.add:hover,
.flashcard-btn.add a:hover,
.flashcard-btn.edit:hover,
.flashcard-btn.remove:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #df5eff9b,
    0 0 30px #df5eff9b, 0 0 40px #df5eff9b, 0 0 55px #df5eff9b,
    0 0 75px #df5eff9b;
  --translate-y: -2px;
}
